[submodule "nfc/Amiibo"]
	path = nfc/Amiibo
	url = https://github.com/RogueMaster/FlipperAmiibo
[submodule "infrared"]
	path = infrared
	url = https://github.com/logickworkshop/Flipper-IRDB.git
[submodule "PLAYGROUND"]
	path = PLAYGROUND
	url = https://github.com/UberGuidoZ/Flipper.git
[submodule "badusb"]
	path = badusb
	url = https://github.com/I-Am-Jakoby/Flipper-Zero-BadUSB