[submodule "infrared"]
	path = infrared
	url = https://github.com/logickworkshop/Flipper-IRDB.git
[submodule "PLAYGROUND"]
	path = PLAYGROUND
	url = https://github.com/UberGuidoZ/Flipper.git
[submodule "badusb"]
	path = badusb
	url = https://github.com/I-Am-Jakoby/Flipper-Zero-BadUSB
[submodule "nfc/Amiibo"]
	path = nfc/Amiibo
	url = https://github.com/RogueMaster/FlipperAmiibo
[submodule "scripts/AmiiboConverter"]
	path = scripts/AmiiboConverter
	url = https://github.com/Lucaslhm/AmiiboFlipperConverter
[submodule "scripts/dolphin_state"]
	path = scripts/dolphin_state
	url = https://github.com/DroomOne/FlipperScripts
[submodule "music_player"]
	path = music_player
	url = https://github.com/neverfa11ing/FlipperMusicRTTTL
[submodule "fw/RogueMaster"]
	path = fw/RogueMaster
	url = https://github.com/RogueMaster/flipperzero-firmware-wPlugins
[submodule "fw/OFW"]
	path = fw/OFW
	url = https://github.com/flipperdevices/flipperzero-firmware
