Filetype: Flipper Name File
Version: 1
# Changing the value below will change your FlipperZero device name.
# Note: This is limited to 8 characters using the following: a-z, A-Z, 0-9, and _
# It cannot contain any other characters.
Name: 